body {
    font-family: Verdana;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    background-color: #1e293b;
    width: 100%;
    height: 60px;
    color: aliceblue;
}

.logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10%;
}

.menu {
   margin-left: 600px; 
   padding-top: 2px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 55px;
}

.menu ul li a{
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    display: inline-block;
}

.menu ul li a:hover {
    color: #6482b3;
}


.profile-section {
    width: 80%;
    margin: auto;
    padding: 11% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2037;
}

.profile-section img {
    width: 200px;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgb(0, 123, 255, 1); 
}

.profile-section button {
    background-color: aliceblue;
    cursor: pointer;
    color: black;
    border: 1px solid #323846;
    border-radius: 50px;
    padding: 4px 8px;

}
.profile-section button:hover {
background-color: #9eace4;
}
.text {
    flex: 1;
    margin-right: 150px;
}
.nim {
    text-align: center;
    font-size: 14px;
}



.personal-data h1 {
    text-align: center;
}
.personal-data {
    width: 80%;
    margin: auto;
    padding: 9% 10%;
    height: 400px;
    text-align: center;
    background-color: #323846;
}
.personal-data img {
    border-radius: 50%;
    height: 220px;
    border: 5px solid white;
}



.education-section {
    width: 80%;
    margin: auto;
    padding: 10% 10%;
    height: 400px;
    background-color: #1a2037;
}
.education-section h1 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 28px;
    color: #eee;
}
table {
    width: 80%;
    width: 1000px;
    margin: auto;
    border-spacing: 50px;
    table-layout: fixed;
}
td {
    background: #eee;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.1);
    width: 40%;
}
.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    color: #eee;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: inset -5px 5px 8px rgba(0,0,0,0.1);
}
.sd { background: #a0522d; }
.smp { background: #4169e1; }
.sma { background: #4682b4; }
td:hover {
    background-color: #9eace4;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.3); 
    cursor: pointer; 
}

td h3 {
    margin: 10px 0 8px;
    color: #333;
}
td p {
    font-size: 14px;
    line-height: 1.4;
    color: #666;
    margin: 0;
}



.experience-section {
    width: 80%;
    margin: auto;
    padding: 10% 10%;
    height: 400px;
    background-color: #323846;
}
.experience-section h1 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 30px;
    color: #eee;
}
table {
    width: 80%;
    width: 1000px;
    margin: auto;
    border-spacing: 50px;
    table-layout: fixed;
}
td {
    background: #eee;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    box-shadow: 1px 2px 8px rgba(191, 174, 174, 0.1);
    width: 40%;
}
.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    color: #eee;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: inset -5px 5px 8px rgba(0,0,0,0.1);
}
.sd { background: #a0522d; }
.smp { background: #4169e1; }
.sma { background: #4682b4; }

td:hover {
    background-color: #9eace4;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.3); 
    cursor: pointer; 
}

td h3 {
    margin: 10px 0 8px;
    color: #333;
}


.container-contact{
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 40px;
    width: 80%;
    padding: 10% 10%;
    height: 350px;
    background-color: #1a2037;
}
.row {
    display: flex;
    gap: 18px; 
    margin-bottom: 8px;
}

.row strong {
    width: 90px; 
}

.row a {
    color: #00bfff;
    text-decoration: none;
}

.row a:hover {
    text-decoration: underline;
}

.container-contact .left, .right {
    flex: 1;
}

.container-contact .h2, h3 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
    color: #ccc;
}

form {
    display: flex;
    flex-direction: column;
}
form input {
    color: white; 
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
}

button {
    padding: 10px;
    border: none;
    background: #1f224f;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #272b6b;
}